<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Static Site</title>
    <link rel="stylesheet" href="./css/styles.min.css" />
  </head>

  <body>
    <header class="flex-header">
      <div id="header-left">
        <div class="logo">
          <img src="./images/crescent-moon.png" alt="Logo" />
        </div>
        <div class="title">
          <h1>SplitStack Software Engineering Blog</h1>
        </div>
      </div>
      <div id="buttons">
        <button id="Subscribe">Subscribe</button>
        <button id="About">About</button>
      </div>
    </header>

    <main><%- content %></main>
    <script src="./js/scripts.min.js"></script>
  </body>
</html>
